@import url('https://fonts.googleapis.com/css?family=Pacifico');

.hotpink-logo {
    font-family: Pacifico, cursive;
    color:#fff;
    background-color:hotpink;
    padding:3px 10px;
    border-radius:5px;
    font-size:16px;
    float:left;
}